<h2 class="text-white text-2xl text-center">Welcome to Kick the Bucket</h2>
<p class="text-white text-center">Your Place For Finding Your Favorite Destination!</p>

<form action="/register" method="GET">
<button type="submit" class="bg-white text-black px-3 rounded-lg w-full py-2 mt-5">Register</button>
</form>
