
<div class="justify-center flex">
    <p class="text-2xl">Register User<p>
</div>


<div>
    <form class="flex flex-col" action="/register" method="POST">
        <label>Username</label>
        <input name="username" type="text" class="px-3 py-1 rounded-lg  text-black" placeholder="Username">

        <label>Email</label>
        <input name="email" type="text" class="px-3 py-1 rounded-lg text-black" placeholder="Email">

        <label>Password</label>
        <input name="password" type="password" class="px-3 py-1 rounded-lg text-black" placeholder="Password">

        <button type="submit" class="bg-white text-black px-3 rounded-lg w-full py-2 mt-5">Submit</button>
    </form>
</div>


